@import "tailwindcss";

@theme {
    --font-dynapuff: "DynaPuff", sans-serif;
    --font-geomini: "Geomini", sans-serif;
    --font-inspiration: "Inspiration", cursive;
    --font-josefin: "Josefin Sans", sans-serif;
    --font-michroma: "Michroma", sans-serif;
    --font-mozilla: "Mozilla Text", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-pliant: "Pliant", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-smooch: "Smooch Sans", sans-serif;
}